.buttonSubmitHide { display: none;}
.linkEnable {color: blue;
    text-decoration: underline;
}
.linkEnable:hover {
    cursor: pointer;
}
.linkDisable {color: black;
      
    text-decoration: none;
}
.linkDisable:hover {
    cursor: auto;

}
.wrapper{
   position: relative;
   float: left;
   margin-bottom: 2px;
    background-color: #cccccc;
    border-style:Solid;
    height: 100%;
    table-layout:fixed; 
}
.cell{
   position: relative;
   left: 2px;
   background-color:  #8bbdf0;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
}
.cell0000000000{
   position: relative;
   left: 2px;
   background-color:  #8bbdf0;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
   text-align:center;
}
.cell0000000001{
   position: relative;
   left: 2px;
   background-color: #63b76d;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000002{
   position: relative;
   left: 2px;
   background-color: #dbbbbc;
   border-width: 2px;
   border-color:#dbbbbc;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000003{
   position: relative;
   left: 2px;
   background-color:  #8bbdf0;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000004{
   position: relative;
   left: 2px;
   background-color: #63b76d;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000005{
   position: relative;
   left: 2px;
   background-color: #dbbbbc;
   border-width: 2px;
   border-color:#dbbbbc;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000006{
   position: relative;
   left: 2px;
   background-color:  #8bbdf0;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000007{
   position: relative;
   left: 2px;
   background-color: #63b76d;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.cell0000000008{
   position: relative;
   left: 2px;
   background-color: #dbbbbc;
   border-width: 2px;
   border-color:#dbbbbc;
   border-style:Solid;
   white-space:nowrap;
      text-align:center;
}
.celllux{
   position: relative;
   float: left;
   left: 2px;
   width: 16px;
   height: 16px;
   background-color: #63b76d;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
}
.emptycell{
   position: relative;
   left: 2px;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
 }
.halfcell{
   position: relative;
   float: left;
   left: 2px;
   width: 6px;
   height: 8px;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
}
.cellw{
   position: relative;
   float: left;
   left: 2px;
   width: 27px;
   height: 16px;
   background-color: #dbbbbc;
   border-width: 2px;
   border-color:#CCCCCC;
   border-style:Solid;
   white-space:nowrap;
}
body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   font-size: 90%;
   background-color: #e7e7de
}
.tdcell{
    position: relative;
    float: left;
   left: 2px;
   border-width: 2px;
   border-color:#5D7B9D;
   border-style:Solid;
   white-space:nowrap;
}
.wrapper td:hover { background-color: #f8f897}

