<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISessions" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sy-ws:8080/SyTickets/SyTickets.Sessions.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISessions"
                contract="SyTicketsSvc.ISessions" name="WSHttpBinding_ISessions">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
