<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TicketingService" allowCookies="true" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISessions" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" allowCookies="true">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880"
            maxArrayLength="2147483646" maxBytesPerRead="4096" maxNameTableCharCount="5242880" />
        </binding>
       </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dc1-viis-win12.multiplex.ua/WSVistaWebClient/TicketingService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TicketingService"
        contract="TicketingService.TicketingService" name="TicketingService" />
      <endpoint address="http://localhost:8080/SyTickets/SyTickets.Sessions.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISessions"
        contract="SyTicketsSvc.ISessions" name="WSHttpBinding_ISessions">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>